.card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .offering-item {
    border: 2px solid #0F2D70;
    border-radius: 5px;
    padding: 20px;
  }

  .offering-item a {
    text-decoration: none;
  }

  .tag{
    border: 2px solid #0F2D70;
    border-radius: 5px;
    padding: 10px
  }
