<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/pico.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pico.colors.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="container">
    <header>
        <nav>
            <ul>
                <li><strong><a href="{% url 'landing' %}"><img src="{% static 'img/logo.png' %}" /></a></strong></li>
            </ul>
            
                {% if user.is_authenticated %}
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'offerings_list' %}">Offerings</a></li>
                    <li><a href="{% url 'logout' %}" id="logout-link">Logout</a></li>
                </ul>
                {% else %}
                <ul>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                </ul>
                {% endif %}
            
        </nav>
    </header>
    <hr>
    <main>
        {% block content %}
        {% endblock %}   
    </main>
    <footer>
        <small>Copyright 2024</small>
    </footer>
    <script src="{% static 'dist/app.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var logoutLink = document.getElementById('logout-link');
            if (logoutLink) {
                logoutLink.addEventListener('click', function(event) {
                    event.preventDefault();
                    var form = document.createElement('form');
                    form.method = 'POST';
                    form.action = logoutLink.href;
    
                    var csrfToken = document.createElement('input');
                    csrfToken.type = 'hidden';
                    csrfToken.name = 'csrfmiddlewaretoken';
                    csrfToken.value = '{{ csrf_token }}';
    
                    form.appendChild(csrfToken);
    
                    document.body.appendChild(form);
                    form.submit();
                });
            }
        });
    </script>
    
        
</body>
</html>