{% extends "base.html" %}
{% block content %}
<p>Hello, {{username}}! You've reached the home page!</p>
{% for it in investor_types %}
<p>{{it}}</p>
{% endfor %}
<h2>Available Offerings</h2>
{% for offering in offerings|slice:3 %}
    {% include 'offerings/items.html' %}
{% endfor %}
<section><a href="{% url 'offerings_list' %}">See all available offerings</a></section>
{% if req_allocations %}
<h2>Request Allocations</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Offering</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for r in req_allocations %}
            <tr>
                <td>{{r.request_date|date:"F j, Y"}}</td>
                <td>{{r.offering}}</td>
                <td>${{r.amount}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Please contact your advisor if you have any questions.</td>
            </tr>
        </tfoot>
    </table>
{% endif %}

{% endblock %}
