{% extends "base.html" %}

{% block content %}
  <h2>{{ offering.title }}</h2>
  <section>
    <p>Start Date: {{ offering.start_date }} | End Date: {{ offering.end_date }}</p>
  </section>
  <section>
    <p><strong>Tags:</strong> {{ offering.tags.all|join:", " }}</p>
    <p><a href="{{ offering.media_url }}">View Media</a></p>
  </section>
  <hr>
  <section>
    <table>
        <tbody>
          <tr>
              <td><strong>Target Net IRR</strong></td>
              <td>{{ offering.irr }}%</td>
          </tr>
          <tr>
              <td><strong>Target Net MOIC</strong></td>
              <td>{{ offering.moic }}x</td>
          </tr>
          <tr>
              <td><strong>Estimated Term</strong></td>
              <td>3 - 5 years</td>
          </tr>
          <tr>
              <td><strong>Minimum Investment</strong></td>
              <td>${{ offering.minimum }}</td>
          </tr>
        </tbody>
    </table>
  </section>
  <section>
    <p>{{ offering.summary }}</p>
  </section>
  
  
  

  {% include 'allocations.html' %}
{% endblock %}
